* {
    box-sizing: border-box;
    font-family: inherit;
    line-height: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Inter', sans-serif;
    color: #4E4E4E;
}

body {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #1C1C1C;
}

h1, input {
    font-weight: 800;
}

h1 {
    font-size: 1.375rem;  /* 22px */
    letter-spacing: -1px;
}

h2, p {
    font-size: 0.875rem;  /* 14px */
}

h2 {
    font-weight: 600;
    color: #1A1921;
}

p {
    line-height: 1.425;
    margin-top: 0.75rem;  /* 12px */
}

input {
    text-align: inherit;
    background: none;
    border: none;
    width: 100%;
    font-size: 6.125rem;  /* 98px */
    padding-inline: 1rem;
}

input:hover,
input:focus {
    outline: none;
    background: rgba(0,0,0,.1);
}

main {
    max-width: 550px;
}

header {
    padding: 50px 2em;
    background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
    min-height: 260px;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

div.conversions {
    background: #FFFFFF;
    padding: 38px;
}

div.conversions > * + * {
    margin-top: 38px;
}
